*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #0d332a;
}

.main-font{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    color: #e8e8e8;
    margin: 10px, 0px, 10px, 0px;
}

.flex-c {
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1{
    font-size: 30px;
}

.header-text{
    border: 1px, black, solid;
}


.city {
    width: 100%;
    height: auto;
}

.container-img{
    max-width: 200px;
    max-height: auto;
    padding: 5, 10, 10, 5;
    display: inline-block;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
  margin: auto;
  padding: 15px;
  border: 1px black solid;
  background-color:#dcf7f0;
  color: #292929;
  font-family: arial;
  font-size: 16px;
  max-width: 90%;
}